body{
    font:15px "Microsoft YaHei",Arial,Helvetica,sans-serif;
    color:#333;
    background: #e9eaed;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.nav_box>.content>.search{
    display: flex;
    align-items: center;
}
.nav_box>.content>.search>span{
    margin-right: 20px;
}
.nav_box>.content>.search>span>a{
    color: #fff;
}
.nav_box>.content>.search>span>a:hover{
    color:#00c1de;
}