header{
  width:100%;
  height:5px;
  background:linear-gradient(to left,#4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
}
.nav_box{
  width:100%;
  height:60px;
  background:#1c2327;
  
}
.nav_box>.content{
  width:90%;
  display: flex;
  margin:0 auto;
  justify-content:space-between;
  align-items: center;
}
.nav_box .logo{
  font-size:22px;
  line-height: 60px;
}
.nav_box .logo>a , .nav_box ul li a{
  display: inline-block;
  color:#fff;
}
.content .nav{
  margin-right: 140px;
}
.nav_box .nav li{
  list-style: none;
  float: left;
  margin-left: 50px;
}
.nav_box .nav li:first-child a{
  color:#00c1de;
}
.nav_box .nav li a:hover{
  color:#00c1de;
}
.nav_box .logo{
  margin-left: 60px;
}
#search_bar{
  width:90%;
  margin:10px auto;
  background-color: #fff;
  position: relative;
  display: none;
}
#search_bar::before{
  content: "";
  display: table;
}
#search_bar>.content{
  width:50%;
  margin:20px auto;
  
}
#search_bar>.content>input{
  width:69%;
  height: 36px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline-style: none;
  border: 1px solid #b2b2b2;
  padding-left: 20px;
}
#search_bar>.content>button{
  width:30%;
  height: 36px;
  box-sizing: border-box;
  border-radius: 5px;
  outline-style: none;
  border: 1px solid #b2b2b2;
  background: #1c2327;
  color:#fff;
}
#close{
  display: block;
  position: absolute;
  top:0px;
  right:0px;
}

#main{
  width:90%;
  margin:20px auto 0;
}
#main::after{
  content:"";
  display: block;
  clear: both;
}
#main>.left_box{
  width:75%;
  float: left;
  overflow: hidden;
}
.left_box>.banbox{
  width:68%;
  float: left;
  border-radius:3px;
  overflow: hidden;
  margin-bottom: 20px;
}
.left_box>.banbox>#banner{
  width:100%;
  height:260px;
  position: relative;
  overflow: hidden;
}
#ul-imgs{
  list-style:none;
  width: 700px;
}
#ul-imgs::after{
  content: "";
  display: block;
  clear: both;
}
#ul-imgs.transition{
  transition:all .5s linear;
}
#ul-imgs>li{
  width:700px;
  float:left;
}
#ul-imgs img{
  width:100%;
}
#ul-idxs{
  width:100px;
  margin:0 auto;
  list-style:none;
  position:absolute;
  bottom:25px;
  left:50%;
  margin-left:-50px;
}
#ul-idxs>li{
  float:left;
  width:10px; height:10px;
  background-color:#fff;
  border-radius:5px;
  margin:0 5px;
  cursor:pointer;
}
#ul-idxs>li.active{
  background-color:#00c1de;
}
#btn-left,#btn-right{
  width:40px;
  height:100%;
  position:absolute;
  top:0;
  background-repeat:no-repeat;
  background-position:center;
  cursor:pointer;
}
#btn-left{
  left:20px;
  background-image:url(../images/left_ar.png);
}
#btn-right{
  right:20px;
  background-image:url(../images/right_ar.png);
}
#btn-left:hover,#btn-right:hover{
  background-size:40px 70px
}
.left_box>.headline{
  width:30%;
  float: right;
  overflow: hidden;
  margin-bottom: 20px;
}
.left_box>.headline>ul{
  width:100%;
  height:260px;
  list-style: none;
}
.left_box>.headline>ul>li{
  width:100%;
  height:125px;
  background: #000;
  border-radius: 3px;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}
.left_box>.headline>ul>li a{
  display: block;
  position: relative;
}
.left_box>.headline>ul>li img{
  width:100%;
  height:100%;
  transition: all 0.5s;
  opacity: .7;
}
.left_box>.headline>ul>li:hover img{
  opacity: 1;
  transform: scale(1.1);
}
.left_box>.headline>ul>li span{
  position:absolute;
  color:#fff;
  top:30%;
  left:0;
  font-size:15px;
  padding:0 30px;
  text-align: center;
  line-height: 25px;
  height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}
.left_box>.tab_box{
  background:#fff;
  border-radius:3px;
  padding:20px;
  margin-bottom:20px;
  overflow: hidden;
}
.tab_box>.tab_buttons{
  margin-bottom: 10px;
  width:100%;
  border-bottom:#e4e3e3 1px solid;
}
.tab_box>.tab_buttons::after{
  content: "";
  display: block;
  clear: both;
}
.tab_box>.tab_buttons>ul{
  list-style: none;
}
.tab_box>.tab_buttons>ul li{
  display: block;
  float:left;
  line-height: 40px;
  width: 100px;
  height:40px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.tab_box>.tab_buttons>ul .underline{
  border-bottom:1.5px solid #000;
}
.newstab{
  width:100%;
  position: relative;
  height: 215px;;
}
.newstab::after{
  content:"";
  display: block;
  clear: both;
}
#c1,#c2,#c3,#c4{
  width: 100%;
  display: block;
  position: absolute;
  background-color: #fff;
}

.newsitem1,.newsitem2,.newsitem3,.newsitem4,.newsitem5{
  width:100%;
  display: flex;
  justify-content: space-between;
}
.newsitem1{
  z-index: 10;
}
.tab_box .newspic{
  width:40%;
  height:218px;
  overflow: hidden;
  margin-right:20px;
}
.tab_box .newspic>ul{
  width:100%;
  overflow: hidden;
  list-style: none;
}
.tab_box .newspic>ul>li{
  height:100px;
  width:100%;
  background: rgba(0,0,0,1);
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 3px;
}
.tab_box .newspic>ul>li>a{
  display: block;
  overflow: hidden;
  position: relative;
}
.tab_box .newspic>ul>li>a>img{
  height:100%;
  width:100%;
  transition: all 0.5s;
  opacity: .7;
}
.tab_box .newspic>ul>li:hover img{
  opacity: 1;
  transform: scale(1.1);
}
.tab_box .newspic>ul>li span{
  color:#fff;
  text-align: center;
  font-size:15px;
  padding:0 40px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}
#c1 .newspic>ul>li span,#c2 .newspic>ul>li span,#c3 .newspic>ul>li span,#c4 .newspic>ul>li span{
  position: absolute ;
  top:32px !important;
}
#c4 .newspic>ul>li:first-child span{
  padding:0 61px;
}
.tab_box #newslist{
  width:100%;
}
.tab_box #newslist>ul{
  list-style:none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#newslist>ul>li{
  padding: 0px 20px;
  overflow: hidden;
  line-height: 32px;
  
}
#newslist>ul>li>i{
  display: block;
  width: 20px;
  height: 20px;
  background-color: #9a9a9a;
  float: left;
  margin-top:6px;
  position: relative;
  font-style: normal;
  margin-right:20px;
}
#newslist ul li:first-child i::before {
  content: "1";
}
#newslist li:nth-child(2) i::before{
  content: "2";
}
#newslist li:nth-child(3) i::before{
  content: "3";
}
#newslist li:nth-child(4) i::before{
  content: "4";
}
#newslist li:nth-child(5) i::before{
  content: "5";
}
#newslist ul li i::before {
  position: absolute;
  top:0px;
  left:0px;
  width: 20px;
  color: #fff;
  line-height: 20px;
  text-align: center;
}
#newslist ul li>p{
  height: 42px;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  color:#333;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  margin-bottom: 10px;
  display: none;
}
#newslist ul li>a{
  color: #333;
}
#c2 .newspic>ul>li>a span{
  top:30%;
  height: 48px;
}
#c2 .newspic>ul>li:last-child  span{
  top:17%;
}
#c3 .newspic>ul>li>a span{
  top:18%;
  height: 48px;
}
#c4 .newspic>ul>li>a span{
  top:15%;
  height: 48px;
}
 #newslist li:first-child a { 
  color: #333; 
  font-weight: bold ;
}
#newslist li:first-child i { 
  background: #333; 
}/*
table:hover #newslist li:first-child p{
  display: block;
}*/
#newslist li.open p{
  display: block;
} 
.tebietj{
  padding:20px;
  background:#fff;
  border-radius: 3px;
  overflow: hidden;
}
.tebietj>.titel{
  height:41px;
  border-bottom: 1px solid #d9d9d9;
}
.tebietj>.titel>h2{
  font-size: 18px;
  font-weight: 500;
  width:75px;
  line-height: 39px;
  border-bottom: 1.5px solid #000;
  transition: width 0.5s linear;
}
.tebietj>.titel>h2:hover{
  width:110px;
}
.tebietj ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
}
.tebietj ul>li{
  width:33%;
  padding: 20px;
  overflow: hidden;
  border:1px solid #eee;
}
.tebietj ul>li:hover{
  box-shadow: 0px 0px 3px 0px #979797;
}
.tebietj ul>li>i{
  display: block;
  width: 100%;
  overflow: hidden;
  height: 110px;
  border-radius: 3px;
}
.tebietj ul>li>i>img{
  width:100%;
  transition:transform 0.5s linear;
}
.tebietj ul>li:hover img{
  transform: scale(1.1);
}
.tebietj ul>li p{
  font-weight: bold;
  margin:10px 0;
  text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
}
.tebietj ul>li span{
  display: block;
  height: 60px;
  color: #999;
  overflow: hidden;
  line-height: 20px;
  font-size: 14px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
.tebietj ul>li a{
  margin-top:10px;
  display: inline-block;
  color:#096;
}
.newest{
  padding:20px;
  width:100%;
  overflow: hidden;
  margin-top:20px;
  background-color: #fff;
  border-radius: 3px;
}
.newest>.ntitle{
  height:41px;
  border-bottom:1px solid #d9d9d9;
}
.newest>.ntitle>h3{
  width: 75px;
  font-weight: 500;
  font-size: 18px;
  line-height: 39px;
  border-bottom: 1.5px solid #000;
  transition: width 0.5s linear;
}
.newest>.ntitle>h3:hover{
  width:110px;
}
.newest>ul{
  list-style: none;
  margin-top:20px;
}
.newest>ul>li{
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9;
}
.newest>ul>li:not(:first-child){
  margin-top:25px;
}
.newest>ul>li>h3{
  margin-bottom: 10px;
}
.newest>ul>li>h3 b{
  color:#f00;
}
.newest>ul>li>h3 a{
  display: inline-block;
  color:#000;
}
.newest>ul>li:hover h3 a{
  color:#00a0ee;
}
.newest>ul>li .content{
  width: 100%;
  overflow: hidden;
}
.newest>ul>li .content>.left{
  width:27%;
  float: left;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  margin-right: 20px;
  margin-bottom: 25px;
}
.newest>ul>li .content>.left>i{
  position: absolute;
  background-color: rgba(18,182,221,.8);
  top:0px;
  left:0px;
  padding:3px 2px;
  font-style: normal;
  z-index: 10;
}
.newest>ul>li .content>.left>i>a{
  color:#fff;
}
.newest>ul>li .content>.left>a{
  display: block;
  width:100%;
  height: 130px;;
}
.newest>ul>li .content>.left>a>img{
  width:100%;
  height: 100%;
  overflow: hidden;
  transition:transform 0.5s linear;
}
.newest>ul>li .content>.left>a>img:hover{
  transform: scale(1.1);
}
.newest>ul>li .content>.right{
  width:70%;
  float: left;
  overflow: hidden;
}
.newest>ul>li .content>.right>span{
  font-size: 14px;
  display: inline-block;
  margin-top:15px;
  color:#666;
}
.newest>ul>li .content>.right>.info{
  width:100%;
  margin-top:20px;
}
.newest>ul>li .content>.right>.info>i{
  display: block;
  width:40px;
  height:40px;
  position: relative;
  float: left;
  border-radius: 50%;
  border:2px solid #5ac8fa;
}
.newest>ul>li .content>.right>.info>i>a img{
  width:100%;
  height:100%;
  border-radius: 50%;
}
.newest>ul>li .content>.right>.info>i>img{
  width:14px;
  height: 14px;
  position: absolute;
  top:20px;
  right:-4px;
}
.newest>ul>li .content>.right>.info>i{
  margin-right: 20px;
}
.newest>ul>li .content>.right>.info>span{
  line-height: 40px;
  color: #999;
}
.newest>ul>li .content>.right>.info>b{
  color: #999;
  display: inline-block;
  margin-left: 20px;
}
.newest>ul>li .content>.right>.info>b a{
  color: #096;
  font-weight: 400;
}
.newest>ul>li .content>.right>.info>a{
  display: block;
  float: right;
  height: 30px;
  line-height: 30px;
  color:#fff;
  width:100px;
  background: #12b7de;
  text-align: center;
  border-radius: 5px;
  margin-top:5px;
}
.right_box{
  width:23.5%;
  overflow: hidden;
  float: right;
}
.right_box>.card{
  background-color: rgb(42,42,42);
  padding: 10px;
}
.right_box>.card::after{
  display: block;
  content: "";
  clear: both;
}
.right_box>.card>h2{
  font-size: 22px;
  color:#999;
  font-weight:500;
  margin-bottom: 25px;;
}
.right_box>.card>p{
  color:#d0d2d4;
  font-size: 12px;
  line-height: 30px;
  padding-left: 10px;
}
.right_box>.card>ul{
  margin: 14px 15px 0 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.right_box>.card>ul>li{
  overflow: hidden;
  float: left;
  width: 21%;
  height: 53px;
  border-radius: 50%;
  background-color: rgb(42,42,42);
  box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7);
}
.right_box>.card>ul>li:hover{
  opacity: 0.5;
}
.right_box>.card>ul>li>a>img{
  width: 100%;
  height: 100%;
  transform: scale(0.6);
}
.recent_updates{
  width:100%;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #fff;
  padding:20px;
}
.recent_updates>h2{
  height: 40px;
  border-bottom:1px solid #d9d9d9;
  margin-bottom: 10px;
}
.recent_updates>h2:hover span{
  width:90px;
}
.recent_updates>h2>span{
  display: inline-block;
  width: 75px;
  line-height: 39px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1.5px solid #000;
  transition:all 0.5s;
}
.recent_updates>ul{
  list-style: none;
  margin-top: 45px;
}
.recent_updates>ul>li{
  width: 100%;
  height: 36px;
  overflow: hidden;
  background-color: #f6f6f6;
  border-radius: 3px;
  transition: all 0.2s linear;
}
.recent_updates>ul>li:hover{
  box-shadow: 0 0 10px #ccc;
}
.recent_updates>ul>li:not(:first-child){
  margin-top: 12px;
}
.recent_updates>ul>li::before{
  content: "";
  display: block;
  width: 3px;
  float: left;
  height: 3px;
  margin: 16px 15px 0;
  background-color: #000;
}
.recent_updates>ul>li>a{
  color: #333;
  font-size: 12px;
  line-height: 36px;
}
.click_rank{
  background: #fff;
  border-radius: 3px;
  padding:20px;
  overflow: hidden;
}
.click_rank>h2{
  height: 40px;
  border-bottom:1px solid #d9d9d9;
}
.click_rank>h2>span{
  width: 75px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 39px;
  border-bottom: 1.5px solid #000;
  display:block;
  transition: all 0.5s linear;
}
.click_rank>h2:hover span{
  width:100px;
}
.click_rank>.img{
  margin:20px 0;
  background: #000;
  position: relative;
  max-height: 135px;
  overflow: hidden;
  border-radius: 3px;
}
.click_rank>.img img{
  width: 100%;
  opacity: 0.7;
  transition: all 0.5s linear;
}
.click_rank>.img:hover img{
  opacity: 1;
  transform:scale(1.1);
}
.click_rank>.img span{
  position: absolute;
  top:33%;
  left:0px;
  padding:0 40px;
  font-size: 15px;
  color:#fff;
  text-align: center;
}
.click_rank>ul{
  list-style: none;
  overflow: hidden;
}
.click_rank>ul>li{
  height:30px;
  margin: 0 0 10px 0;
  line-height: 30px;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.click_rank>ul>li a{
  color:#333;
}
.click_rank>ul>li i{
  display: block;
  width: 16px;
  height: 16px;
  background-color: #B1B1B1;
  float: left;
  font-size: 9px;
  font-style: normal;
  margin: 8px 10px 0 0;
  position: relative;
  color:#fff;
}
.click_rank>ul>li:nth-child(1) i::before{
  content: "1";
}
.click_rank>ul>li:nth-child(2) i::before{
  content: "2";
}
.click_rank>ul>li:nth-child(3) i::before{
  content: "3";
}
.click_rank>ul>li:nth-child(4) i::before{
  content: "4";
}
.click_rank>ul>li:nth-child(5) i::before{
  content: "5";
}
.click_rank>ul>li:nth-child(6) i::before{
  content: "6";
}
.click_rank>ul>li:nth-child(7) i::before{
  content: "7";
}
.click_rank>ul>li:nth-child(1) i{
  background-color: #ff6600;
}
.click_rank>ul>li:nth-child(2) i{
  background-color: #ff6600;
}
.click_rank>ul>li:nth-child(3) i{
  background-color: #ff6600;
}
.click_rank>ul>li i::before{
  position: absolute;
  top:-6px;
  left:5px;
  height: 16px;
}
.click_rank>ul>li:hover span{
  color:#000;
}
.click_rank>ul>li:nth-child(2n){
  background-color: #f6f6f6;
}
.tuijian{
  width:100%;
  background-color: #fff;
  margin-top: 20px;
  padding:20px;
}
.tuijian>h2{
  height: 40px;
  border-bottom:1px solid #d9d9d9;
}
.tuijian>h2>span{
  width: 75px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 39px;
  border-bottom: 1.5px solid #000;
  display:block;
  transition: all 0.5s linear;
}
.tuijian>h2:hover span{
  width:100px;
}
.tuijian>ul{
  list-style: none;
  margin:10px 0 0;
}
.tuijian>.img{
  margin:20px 0;
  background: #000;
  position: relative;
  max-height: 135px;
  overflow: hidden;
  border-radius: 3px;
}
.tuijian>.img img{
  width: 100%;
  opacity: 0.7;
  transition: all 0.5s linear;
}
.tuijian>.img:hover img{
  opacity: 1;
  transform:scale(1.1);
}
.tuijian>.img span{
  position: absolute;
  top:33%;
  left:0px;
  padding:0 40px;
  font-size: 15px;
  color:#fff;
  text-align: center;
}
.tuijian>ul{
  margin: 10px 0 0;
  list-style: none;
}
.tuijian>ul>li{
  height: 70px;
  overflow: hidden;
  margin-bottom: 10px;
}
.tuijian>ul>li:hover{
  background-color: #f2f2f2;
}
.tuijian>ul>li>a{
  text-decoration: none;
  color:#333;
}
.tuijian>ul>li>a>img{
  height:70px;
  width: 80px;
  float: left;
  margin-right: 10px;
}
.tuijian>ul>li>a>span{
    margin-top: 18px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    font-size: 14px;
}
#footer{
  width:100%;
  height:190px;
  border-top:10px solid #00c1de;
  padding:30px 0;
  background:#373D41;
}
#footer>.content{
  width:100%;
  padding:0 20px;
  display: flex;
  align-items: center;
}
#footer>.content>img{
  width:100px;
  height:100px;
  margin-top:15px;
}
#footer>.content>img:first-child{
  padding:10px;
  background:#fff;
  margin-right:20px;
}
#footer>.content>.text{
  color:#73777a;
  margin-left:20px;
}
#footer>.content>.text>h4{
  font-size: 16px;
  color:#00c1de;
}
#footer>.content>.text>p{
  line-height: 23px;
  font-size: 14px;
}